.WeatherForecast {
  color: #413636;
  margin-top: 24px;
  text-align: center;
}

.DailyForecast {
  margin-left: 5px;
}

.WeatherForecast-temperature-max {
  margin-left: 9px;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 12px auto;
}